.coffee {
	display: flex;
	justify-content: space-between;
	margin-top: 1em;

	&-gen {
		flex-wrap: wrap;
	}

	.coffee__item {
		width: 100%;
		background-color: rgba($black, 0.03);
		display: flex;
		flex-direction: column;

		&__gen {
			margin-bottom: 2rem;
			background-color: #f8f9fa;
			@media (min-width: $medium) {
			  width: 48%;
			}
		}
	}

	.coffee__title {
		margin: 0;
		padding: 1rem 1.5rem;
	}

	.coffee__img {
		width: 100%;
		height: auto;
	}

	.coffee__desc {
		padding: 0.5rem 1.5rem;
	}

	.coffee__info {
		font-style: italic;
	}
}

.main__desc__coffee {
	font-style: italic;
	font-size: 0.95em;
	padding: 1em 0;
}